html(lang = "en")
  head 
    title="Gauge"

  body
    nav
      .container
        a.logo(href="#") Gauge
        ul.nav-links
          li.nav-links__link About
          li.nav-links__link Documentation
          li.nav-links__link Download

    main.container
      header.banner-area
        div.banner-image
          img(src="http://via.placeholder.com/350x150")
        div.banner-text
          h1.banner-title Test Automation Tool that speaks your langauge
          p.banner-content
          | Aliquip veniam ad sit ipsum duis duis officia irure. Laboris deserunt minim Lorem excepteur. Duis laboris velit velit magna. Qui id aliquip officia ipsum incididunt. Nisi anim adipisicing irure cupidatat pariatur laboris nostrud minim mollit non pariatur.   | Nostrud anim laborum et veniam cupidatat qui dolore anim sit dolore ad. Qui sit cupidatat nulla exercitation minim deserunt.

      section.about-product
        h2.about-product__title Why Gauge?
        p.about-product__content Adipisicing magna eu cillum velit ex sint qui aliquip deserunt laborum quis pariatur. Duis duis anim cillum non quis enim. Esse id eiusmod amet incididunt sint exercitation adipisicing sit nostrud quis anim.

        section.about-product__features
          ul.features-list
            li.features-list__item
              div.item-image
                img(src="http://via.placeholder.com/350x150")

              div.item-content
                h3.item-title Write in a familiar language
                p.item-cotent Exercitation do laborum elit reprehenderit. Enim ea ad eu cillum sint voluptate nulla laboris ea qui. Excepteur pariatur adipisicing mollit et amet incididunt eiusmod adipisicing velit ut do nulla ad tempor.

            li.features-list__item
              div.item-content
                h3.item-title Create Specifications anyone can read
                p.item-cotent Exercitation do laborum elit reprehenderit. Enim ea ad eu cillum sint voluptate nulla laboris ea qui. Excepteur pariatur adipisicing mollit et amet incididunt eiusmod adipisicing velit ut do nulla ad tempor.
              div.item-image
                img(src="http://via.placeholder.com/350x150")

            li.features-list__item
              div.item-image
                img(src="http://via.placeholder.com/350x150")

              div.item-content
                h3.item-title Scale your Test
                p.item-cotent Exercitation do laborum elit reprehenderit. Enim ea ad eu cillum sint voluptate nulla laboris ea qui. Excepteur pariatur adipisicing mollit et amet incididunt eiusmod adipisicing velit ut do nulla ad tempor.

        section.about-product__feature-secondary
          ul.feature-sec__list
            li.feature-sec__list-item
              div.item-content
                h3.item-title A rich plugin ecosystem
                p.item-cotent Exercitation do laborum elit reprehenderit. Enim ea ad eu cillum sint voluptate nulla laboris ea qui. Excepteur pariatur adipisicing mollit et amet incididunt eiusmod adipisicing velit ut do nulla ad tempor.
              div.item-image
                img(src="http://via.placeholder.com/350x150")

            li.feature-sec__list-item
              div.item-content
                h3.item-title Bring your own tools
                p.item-cotent Exercitation do laborum elit reprehenderit. Enim ea ad eu cillum sint voluptate nulla laboris ea qui. Excepteur pariatur adipisicing mollit et amet incididunt eiusmod adipisicing velit ut do nulla ad tempor.
              div.item-image
                img(src="http://via.placeholder.com/350x150")

            li.feature-sec__list-item
              div.item-content
                h3.item-title Speed your tests
                p.item-cotent Exercitation do laborum elit reprehenderit. Enim ea ad eu cillum sint voluptate nulla laboris ea qui. Excepteur pariatur adipisicing mollit et amet incididunt eiusmod adipisicing velit ut do nulla ad tempor.
              div.item-image
                img(src="http://via.placeholder.com/350x150")

            li.feature-sec__list-item
              div.item-content
                h3.item-title Get started in seconds
                p.item-cotent Exercitation do laborum elit reprehenderit. Enim ea ad eu cillum sint voluptate nulla laboris ea qui. Excepteur pariatur adipisicing mollit et amet incididunt eiusmod adipisicing velit ut do nulla ad tempor.
              div.item-image
                img(src="http://via.placeholder.com/350x150")

          
      section.clien-section
        h2.client-section__title Used by
        ul.client-list
          li.client-list__item
            img(src="http://via.placeholder.com/350x150")
          li.client-list__item
            img(src="http://via.placeholder.com/350x150")
          li.client-list__item
            img(src="http://via.placeholder.com/350x150")
          li.client-list__item
            img(src="http://via.placeholder.com/350x150")

    footer
      .container
        div.footer-column
          h3.footer-column__title Product
          ul.footer-link__list
            li.footer-link__list__item Quick Start
            li.footer-link__list__item Features
            li.footer-link__list__item Plugins
            li.footer-link__list__item Contribute
        div.footer-column
          h3.footer-column__title Support
          ul.footer-link__list
            li.footer-link__list__item Documentation
            li.footer-link__list__item Examples
        div.footer-column
          h3.footer-column__title Resources
          ul.footer-link__list
            li.footer-link__list__item Blog
            li.footer-link__list__item Roadmap
            li.footer-link__list__item Man page
            li.footer-link__list__item Insights
        div.footer-column
          h3.footer-column__title Community
          ul.footer-link__list
            li.footer-link__list__item Gitter
            li.footer-link__list__item Google Group
            li.footer-link__list__item Stack Overflow
            li.footer-link__list__item Slack
        div.footer-column
          h3.footer-column__title Follow gauge
          ul.footer-link__list
            li.footer-link__list__item Twitter
            li.footer-link__list__item Stack Overflow
              
            


      








